.container {
    border: 2px solid red;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: column;
    color: rgb(red, green, blue);
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    border: 1px solid black;
    flex: 1;
}